<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <title>Edit User</title>

    </head>

    <body>

    <div id="wrapper">

    <%= render "layouts/navigation" %>

    <div id="page-wrapper">
        <div class="container-fluid" style="margin-bottom: 70px">
          <div class="row">
            <div class="col-lg-12">
                <h2 class="sub-header">Update Account</h2>
                    <div class="form-container" style="margin-left: 0px">
                   <%= form_for @user do |u| %>
                    <% if @user.errors.any? %>
                        <div id="error_explanation">
                          <h2>
                            <%= pluralize(@user.errors.count, "error") %> prohibited
                            this user from being saved:
                          </h2>
                          <ul>
                            <% @user.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                    <% end %>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">First Name</div>
                        <%= u.text_field(:firstName, class: "mobile-form-field", style: "width: 100%; max-width: 400px; height: 54px", placeholder: "Enter first name") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Last Name</div>
                        <%= u.text_field(:lastName, class: "mobile-form-field", style: "width: 100%; max-width: 400px; height: 54px", placeholder: "Enter first name") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Username</div>
                        <%= u.text_field(:userName, class: "mobile-form-field", style: 'width: 100%; max-width: 400px; height: 54px', placeholder: "Enter username") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Password</div>
                        <%= u.password_field(:password, class: "mobile-form-field", style: 'width: 100%; max-width: 400px; height: 54px', placeholder: "Enter new password") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Password</div>
                        <%= u.password_field(:password_confirmation, class: "mobile-form-field", style: 'width: 100%; max-width: 400px; height: 54px', placeholder: "Re-enter new password") %>
                    </div>

                    <br>
                
                    <div class="submitBtn">
                        <input type="submit" name="commit" class="btn btn-default" style="background-color: #388E3C; color: #fff" value="Submit Changes">
                    </div>
                <% end %>
            </div> <!-- form-container -->
            </div> <!-- col-lg-12 -->
          </div> <!-- row -->
        </div> <!-- container-fluid -->
    </div> <!-- page wrapper -->
</div> <!-- wrapper -->
<%= render "layouts/navigationFooter" %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
