
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <title>Dashboard Template for Bootstrap</title>

    </head>

    <body>

    <div id="wrapper">

    <%= render "layouts/navigation" %>

    <div id="page-wrapper" style="min-height: 100%">
        <div class="container-fluid" style="margin-bottom: 70px">
          <div class="row">
            <div class="col-lg-12">
                <h2 class="sub-header"><%=action_name.capitalize%> Income</h2>
                    <div class="form-container" style="margin-left: 0px">
                   
                   <%= form_for @income do |i| %>
                    <% if @income.errors.any? %>
                        <div class="alert alert-danger" role="alert">
                          <ul>
                            <% @income.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                    <% end %>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Name</div>
                        
                        <%= i.text_field(:name, class: "mobile-form-field", style: "width: 100%; max-width: 400px; height: 54px", placeholder: "Name of Income Source") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Amount</div>
                        
                        <%= i.text_field(:amount, class: "mobile-form-field", style: "width: 100%; max-width: 400px; height: 54px", placeholder: "Income Amount") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Frequency</div>
                        
                        <%= i.select(:frequency, @frequencies, {prompt: 'Select Frequency'}, class: "mobile-form-field", style: "float: left; width: 100%; max-width: 200px; height: 54px") %><i style="float: left; padding-top: 20px; color: #acacac; border-bottom: 1px solid #c4c4c4; padding-bottom: 19px;" class="fa fa-fw fa-caret-down"></i>
                    </div>

                    <div class="fieldRowMobile" style="margin-top: 54px">
                        <div class="desktopLabel">Hours/Week</div>
                        
                        <%= i.text_field(:weekly_hours, class: "mobile-form-field", style: "width: 100%; max-width: 220px; height: 54px", placeholder: "Hours Per Week") %>
                    </div>

                    <br>
                    <p style="font-size: 12px">*Amount should be a post-taxes value. </p>
                    <div class="submitBtn">
                        <input type="submit" name="commit" class="btn btn-default" style="background-color: #388E3C; color: #fff" value="<%= action_name.capitalize%> income">
                    </div>
                <% end %>
            </div> <!-- form-container -->
            </div> <!-- col-lg-12 -->
          </div> <!-- row -->
        </div> <!-- container-fluid -->
    </div> <!-- page wrapper -->
</div> <!-- wrapper -->
<%= render "layouts/navigationFooter" %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
