<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <title>Dashboard Template for Bootstrap</title>

    </head>

    <body>

    <div id="wrapper">

    <%= render "layouts/navigation" %>

    <div id="page-wrapper">
        <div class="container-fluid" style="margin-bottom: 70px">
          <div class="row">
            <div class="col-lg-12">
                <h2 class="sub-header"><%=action_name.capitalize%> Transaction</h2>
                    <div class="form-container" style="margin-left: 0px">
                   
                   <%= form_for @transaction do |t| %>
                    <% if @transaction.errors.any? %>
                        <div class="alert alert-danger" role="alert">
                          <ul>
                            <% @transaction.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                    <% end %>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Transaction Date</div>
                        <%= t.date_field(:date, class: "mobile-form-field", style: 'color: #acacac; width: 100%; max-width: 200px; height: 54px') %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Location</div>
                        
                        <%= t.text_field(:location, class: "mobile-form-field", style: "width: 100%; max-width: 400px; height: 54px", placeholder: "Transaction location") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Amount</div>
                        
                        <%= t.text_field(:amount, class: "mobile-form-field", style: "width: 100%; max-width: 400px; height: 54px", placeholder: "Transaction amount") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Type</div>
                        
                        <%= t.text_field(:transactionType, class: "mobile-form-field", style: "width: 100%; max-width: 400px; height: 54px", placeholder: "Payment Type") %>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Fund</div>
                        
                        <%= t.collection_select(:fund_id, Fund.where(:user_id => session[:user_id]), :id, :name, {:prompt=>"Select fund"}, {:class=>'mobile-form-field', :style=>'color: #acacac; width: 100%; max-width: 180px; height: 54px'})%><i style="color: #acacac; border-bottom: 1px solid #c4c4c4; padding-bottom: 19px;" class="fa fa-fw fa-caret-down"></i>
                    </div>

                    <div class="fieldRowMobile">
                        <div class="desktopLabel">Description</div>
                        
                        <%= t.text_field(:description, class: "mobile-form-field", style: "width: 100%; max-width: 400px; height: 54px", placeholder: "Brief info for reference") %>
                    </div>

                    <br><br>
                 
                    <div class="submitBtn">
                        <% if action_name == "edit" %>
                            <input type="submit" name="commit" class="btn btn-default" style="background-color: #388E3C; color: #fff" value="Update Transaction">
                        <% else %>
                            <input type="submit" name="commit" class="btn btn-default" style="background-color: #388E3C; color: #fff" value="Register Transaction">
                        <% end %>
                    </div>

                <% end %>
            </div> <!-- form-container -->
            </div> <!-- col-lg-12 -->
            <div style="height: 100px;"></div>
          </div> <!-- row -->
        </div> <!-- container-fluid -->
    </div> <!-- page wrapper -->
</div> <!-- wrapper -->
<%= render "layouts/navigationFooter" %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
