<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Dashboard Template for Bootstrap</title>

    </head>

    <body>

    <div id="wrapper">

    <%= render "layouts/navigation" %>

    <div id="page-wrapper">

        <div class="container-fluid">
          <div class="row">

            <div class="col-lg-12">

                <div class="row" style="border-bottom: 1px solid #eee; padding-bottom: 10px;">
                    <div class="col-sm-8">
                        <h2 class="sectionTitle" style="color: #616161">Transactions</h2>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="" style="color: #616161; width: 300px; text-align: center; float:right">
                        <%= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, {:controller => "transactions", :action => "index", :monthYear => $currentDatePrev.strftime('%m%Y') }, class: "leftBtnTransaction", style: "float: left"%>
                        <span style="text-align: center"><%= $currentDate.strftime('%B %Y') %></span>
                        <%= link_to '<i class="fa fa-chevron-right"></i>'.html_safe, {:controller => "transactions", :action => "index", :monthYear => $currentDateNext.strftime('%m%Y') }, class: "rightBtnTransaction", style: "float: right"%>
                        </h2>
                    </div>
                </div>
                
                <div class="transactionsDesktop">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!--<th>ID#</th>-->
                            <th>Date</th>
                            <th>Location</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Fund</th>
                            <!--<th>User</th>-->
                            <th>Description</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @monthsTransactions.sort_by {|transaction| transaction.date}.each do |transaction| %>
                            <tr>
                                <!--<td><%= transaction.id %></td>-->
                                <td><%= transaction.date.strftime("%m/%d/%Y") %></td>
                                <td><%= transaction.location %></td>
                                <td><%= number_to_currency(transaction.amount) %></td>
                                <td><%= transaction.transactionType %></td>
                                <td><%= transaction.fund.try(:name) %></td>
                                <!--<td><%= transaction.user.try(:userName) %></td>-->
                                <td><%= transaction.description %></td>
                                <td>
                                    <a href="/transactions/<%=transaction.id%>/edit"><i class="fa fa-pencil fa-fw" style="color: #388E3C"></i></a>
                                    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/transactions/<%=transaction.id%>"><i class="fa fa-trash fa-fw" style="color: #616161"></i></a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                </div>

                <div class="transactionsMobile">

                    <% @monthsTransactions.sort_by {|transaction| transaction.date}.each do |transaction| %>
                    <% @transactionFund = Fund.find(transaction.fund_id)%>
                    <div class="row transactionBanner" style="height: 90px; border-bottom: 1px solid gray; padding: 0px; border-left: 5px solid <%=@transactionFund.color%>">
                        <div class="col-xs-10" style="padding: 9px;">
                            <p style="margin: 0px; font-size: 18px;"><i class="fa fa-<%=@transactionFund.iconUrl%> fa-fw" style="color: purple"></i> <%= transaction.location %></p>
                            <span style="float: left">
                                <p style="margin: 0px; font-size:16px; color: #616161"><%= transaction.date.strftime("%b %d, %Y") %></p>
                                <p style="margin: 0px; font-size:14px; color: #616161"><%= transaction.transactionType %></p>
                            </span>
                            <span style="text-align: right; float: right; font-size: 28px; margin-top: 5px; color: #616161">
                                <%= number_to_currency(transaction.amount) %>
                            </span>
                        </div>
                        <div class="col-xs-2" style="padding: 15px; text-align: right">
                            <a href="/transactions/<%=transaction.id%>/edit"><i class="fa fa-pencil fa-fw editBtn" style="font-size: 20px; margin-bottom: 17px"></i></a><br>
                            <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/transactions/<%=transaction.id%>"><i class="fa fa-trash fa-fw deleteBtn" style="font-size: 20px"></i></a>
                        </div>
                    </div>
                    <% end %>

                </div>

                <% if @monthsTransactions.size == 0 %>
                   <div class="alert alert-info" role="alert" style="font-size: 18px; color: #1B5E20; background-color: #A5D6A7; border-color: #66BB6A"> There are no transactions for this month. </div>
                <% end %>
                
            </div> <!-- col-lg-12 -->
          </div> <!-- row -->
        </div> <!-- container-fluid -->
    </div> <!-- page wrapper -->
</div> <!-- wrapper -->
<a href="/transactions/new"><div class="floatingBtn">+</div></a>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
