<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>
 
<p>
  <strong>Location:</strong>
  <%= @transaction.location %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.transactionType %>
</p>

<p>
  <strong>Fund:</strong>
  <%= @transaction.fund %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>