<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link rel="icon" href="../../favicon.ico">
    </head>

    <body>
        <div id="wrapper">
            <%= render "layouts/navigation" %>

            <div id="page-wrapper">
                <div class="container-fluid" style="margin-bottom: 70px">
                    <div class="row">
                        <div class="col-lg-12" style="margin-top: 15px">
                            <h2 class="sub-header"><%=action_name.capitalize%> Fund</h2>
                            <div class="form-container">
                           
                               <%= form_for @fund do |f| %>
                                <% if @fund.errors.any? %>
                                    <div class="alert alert-danger" role="alert">
                                      <ul>
                                        <% @fund.errors.full_messages.each do |msg| %>
                                          <li><%= msg %></li>
                                        <% end %>
                                      </ul>
                                    </div>
                                <% end %>

                                <div class="fields">

                                    <div class="fieldRowMobile">
                                        <div class="desktopLabel">Name</div>
                                        <input type="text" class="mobile-form-field" name="fund[name]" id="fund_name" value="<%=@fund.name%>" placeholder="Name of fund" style="width: 100%; max-width: 400px; height: 54px">
                                    </div>

                                    <div class="fieldRowMobile">
                                        <div class="desktopLabel">Amount</div>
                                        <input type="text" class="mobile-form-field" name="fund[amount]" id="fund_amount" value="<%=@fund.amount%>" placeholder="Amount of fund" style="width: 100%; max-width: 400px; height: 54px">
                                    </div>

                                    <div class="colors" style="margin-top: 15px">
                                        <p class="" style="color: #ACACAC; font-size: 16px;">Color</p>
                                        <div style="padding-top: 16px;">
                                        <% @colors.each do |color| %>
                                            <i class="fa fa-circle fa-fw <%=color[1..6]%> <% if @fund.color == color %> colorSelection <%end%>" onclick="selectColorValue('<%=color[1..6]%>')" style="width: 52px; color: <%=color%>; font-size: 25px; padding: 10px; margin-right: 2px; border-radius: 12px"></i>
                                        <% end %>
                                        </div>
                                    </div>

                                    <div class="icons" style="margin-top: 15px">
                                        <p style="color: #ACACAC; font-size: 16px;">Icon</p>
                                        <% @icons.each do |icon| %>
                                            <i class="fa fa-<%=icon%> fa-fw <%=icon%> <% if @fund.iconUrl == icon %> iconSelection <%end%>" onclick="selectIconValue('<%=icon%>')" style="width: 52px; font-size: 25px; padding: 10px; border-radius: 12px; margin-right: 2px"></i>
                                        <% end %>
                                    </div>

                                    <div class="submitBtn">
                                        <input type="submit" name="commit" class="btn btn-default" style="background-color: #388E3C; color: #fff; float: right;" value="<%= action_name.capitalize%> income">
                                    </div>

                                </div>

                                <!-- real color field that holds value from drop down selection -->
                                <input hidden type="text" value="<%= @fund.color %>" name="fund[color]" id="fund_color">
                                <!-- real iconUrl field that holds value from drop down selection -->
                                <input hidden type="text" value="<%= @fund.iconUrl %>" name="fund[iconUrl]" id="fund_iconUrl">

                                <br>

                                  <script>
                                  function setColorValue(value) {
                                    $("#fund_color").val(value);
                                    var color = "<i class='fa fa-square fa-fw' style='color: " + value + "'></i>"
                                    $("#colorFieldHtml").html(color);
                                  }

                                  function selectColorValue(value) {
                                    $( "i" ).removeClass( "colorSelection" );
                                    var colorClass = "."+value;
                                    $(colorClass).toggleClass("colorSelection");
                                    $("#fund_color").val("#"+value);                      
                                  }
                                  </script>

                                  <script>
                                  function setIconValue(value) {
                                    $("#fund_iconUrl").val(value);
                                    var iconUrl = "<i class='fa fa-" + value + " fa-fw'></i>"
                                    $("#iconFieldHtml").html(iconUrl);
                                  }

                                  function selectIconValue(value) {
                                    $( "i" ).removeClass( "iconSelection" );
                                    var colorClass = "."+value;
                                    $(colorClass).toggleClass("iconSelection");
                                    $("#fund_iconUrl").val(value);                      
                                  }
                                  </script>
                         
                                <% end %>
                            </div> <!-- form-container -->
                        </div> <!-- col-lg-12 -->
                    <div style="height: 100px;"></div>
                </div> <!-- row -->
            </div> <!-- container-fluid -->
        </div> <!-- page wrapper -->
    </div> <!-- wrapper -->

    <%= render "layouts/navigationFooter" %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </body>
</html>
